# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Simple MonteCarlo/Simple MonteCarlo/x64/Debug
/Simple MonteCarlo/x64/Debug
/Simple MonteCarlo/.vs/Simple MonteCarlo/v15/ipch/AutoPCH
/Simple MonteCarlo/.vs/Simple MonteCarlo/v15/Browse.VC.opendb
/Simple MonteCarlo/Simple MonteCarlo/H2.dat
/Simple MonteCarlo/Simple MonteCarlo/H1_600K.dat
/Simple MonteCarlo/Simple MonteCarlo/H1.dat
/Simple MonteCarlo/Simple MonteCarlo/Fe56.dat
/Simple MonteCarlo/Simple MonteCarlo/Cnat.dat
/Simple MonteCarlo/Simple MonteCarlo/B10_600K.dat
/Simple MonteCarlo/Simple MonteCarlo/Pu241_900K.dat
/Simple MonteCarlo/Simple MonteCarlo/Pu241_600K.dat
/Simple MonteCarlo/Simple MonteCarlo/Pu240_900K.dat
/Simple MonteCarlo/Simple MonteCarlo/Pu240_600K.dat
/Simple MonteCarlo/Simple MonteCarlo/Pu239_900K.dat
/Simple MonteCarlo/Simple MonteCarlo/Pu239_600K.dat
/Simple MonteCarlo/Simple MonteCarlo/O16_900K.dat
/Simple MonteCarlo/Simple MonteCarlo/O16_600K.dat
/Simple MonteCarlo/Simple MonteCarlo/O16.dat
/Simple MonteCarlo/Simple MonteCarlo/N14.dat
/Simple MonteCarlo/Simple MonteCarlo/U238_900K.dat
/Simple MonteCarlo/Simple MonteCarlo/U238_600K.dat
/Simple MonteCarlo/Simple MonteCarlo/U238.dat
/Simple MonteCarlo/Simple MonteCarlo/U235_900K.dat
/Simple MonteCarlo/Simple MonteCarlo/U235_600K.dat
/Simple MonteCarlo/Simple MonteCarlo/U235.dat
/Simple MonteCarlo/Simple MonteCarlo/Zrnat_600K.dat
/Simple MonteCarlo/Simple MonteCarlo/plot1.m
/Simple MonteCarlo/Simple MonteCarlo/nse_v107_n3_pp265-271.pdf
/Simple MonteCarlo/Simple MonteCarlo/listofmaterial.txt
